*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   
}
h1{
    color: rgb(116, 114, 250);
    background-color: rgb(137, 253, 189);
    border-radius: 200;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}